.footer {
    padding: 30px 0;
    border-top: 1px solid #ccc;

    .footer__bottom {
        margin-top: 15px;
    }

    .footer__nav-title {
        font-size: 14px;
        font-weight: 400;
        color: #444;
        margin-bottom: 15px;
    }

    .footer__nav {
        padding: 10px 0;
    }

    .footer__nav-link {
        padding: 5px 0;
        font-size: 12px;
        font-weight: 300;
        color: #444;
    }

    .footer__social-media {
        text-align: center;

        .footer__nav-link {
            font-size: 20px;
            color: #cdd3d9;
        }
    }

    .footer__card-wrapper {
        overflow-x: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .footer__card-inner {
        display: flex;
        flex-wrap: nowrap;
        width: 760px;
        padding: 10px;
    }

    .footer__contacts {
        display: flex;
        margin-top: 25px;
        background-color: $pink-opac;
        padding: 20px;
        border-radius: $border-radious;
    }

    .footer__contact-item {
        font-size: 12px;
        font-weight: 300;
        margin-left: 30px;
    }

    .footer__contact-title {
        color: #666;
    }

    .footer__contact-value {
        color: #222;
        font-weight: 400;
        padding: 0 15px;
    }

    .footer__contact-icon {
        font-size: 24px;
        color: #666;
    }

    .footer__mobile-contacts {
        display: flex;
        justify-content: center;
        align-items: center;
        .footer__contact-item {
            display: flex;
            align-items: center;
            margin-left: 0 !important;
        }

        .footer__contact-value {
            padding: 5px 15px;
        }
    }

    .footer__contact-item-wrapper {
        display: flex;
        flex-direction: column;
    }

    .footer__download-link-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .footer__img-link-wrapper {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .footer__download-link {
        text-decoration: none;
        width: 115px;
        height: 35px;
        background-image: url("./../images/download-img.png");
        background-position-y: -7px;

        &.footer__download-link--one {
            background-position-x: -253px;
        }
        &.footer__download-link--two {
            background-position-x: -130px;
        }
        &.footer__download-link--three {
            background-position-x: -8px;
        }
    }

    .footer__license-link {
        width: 112px;
        height: 112px;
        background-image: url("./../images/license.png");

        &.footer__license-link--one {
            background-position-x: -175px;
            background-position-y: 0;
        }
        &.footer__license-link--two {
            background-position-x: -88px;
            background-position-y: 0;
        }
        &.footer__license-link--three {
            background-position-x: 0;
            background-position-y: 0;
        }
    }
}

@media only screen and (max-width: 600px) {
    .footer {
        .footer__download-link {
            &:nth-of-type(2) {
                margin: 0 5px !important;
            }
        }
    }
}
