.custom-accordion {
    // margin-top: 20px;
    .custom-accordion__item {
        border: 0;
        border-top: 1px solid #ccc;
        background-color: transparent;
        border-radius: 0;
    }

    .custom-accordion__button {
        box-shadow: none;
        padding: 17px 0;
        padding-right: 0;
        padding-left: 0;
        background-color: transparent;
        font-size: 14px;
        color: #444;
        &::after {
            color: #444 !important;
            font-size: 50px;
            filter: brightness(0);
        }
    }

    .custom-accordion__body {
        padding: 0;
        margin-bottom: 20px;
    }
}

.custom-search-form {
    width: 100%;
    max-width: 533px;
    height: 38px;
    margin-left: auto;
    .custom-search-form__text-input {
        max-width: 496px;
        height:  38px;
        border: 0 !important;
        background: rgba(0, 0, 0, .05);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        color: #818181;
        font-size: 13px;

        &::placeholder {
            font-size: 12px;
            color: #AAA;
        }
    }

    .custom-search-form__icon {
        width: 35px;
        height: 38px;
        border: 0 !important;
        position: relative;
        background: #fff;
        box-shadow: none;
        padding: 7px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background: rgba(0, 0, 0, .05);
        font-size: 1rem;
        color: #818181;
        cursor: pointer;
        font-size: 24px;
        left: 1px;
    }
}
