// Colors
$theme-colour: #fff;
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$gray: rgb(245, 245, 245);
$pink: rgb(252, 234, 222);
$silver: #eee;
$pink-opac: rgba(252, 234, 222, 0.5);
$transparent: rgba(255, 255, 255, 0);
$text-colour: rgb(88, 87, 92);
$orange: #FF6634;

$primary-colour: $theme-colour;
$secondary-colour: $white;

// Layout
$border-radious: 10px;
