.aside-section {
    width: 265px;
    border-radius: $border-radious;
    background-color: #f5f5f5;
    padding: 20px 15px;
    margin-bottom: 20px;
}

// aside category styles
.aside-section__main-title {
    margin-bottom: 20px;
    font-size: 14px;
    color: #444;
}

.aside-category {
    .aside-category__title {
        display: flex;
        align-items: center;
        font-size: 12px;
        color: #25ced1;
    }

    .aside-category__icon {
        font-size: 24px;
        color: #666;
    }

    .aside-category__nav {
        padding-right: 15px;
    }

    .aside-category__nav-link {
        font-size: 12px;
        color: #666;
    }
}

// brands-form styles
.main-inner {
    display: flex;
    margin-bottom: 85px;
}
.select-item-form {
    .select-item-form__form-check {
        display: flex;
        align-items: center;
        margin-bottom: 7px;
    }

    .select-item-form__form-check-input {
        margin-left: 7px;
        &:checked {
            background-color: #25ced1;
            border: 0;
        }
    }

    .select-item-form__form-check-label {
        position: relative;
        top: 3px;
        font-size: 12px;
        color: #666;
    }
}

.aside {
    margin-left: 30px;
}

.mobile-sort-btn,
.mobile-filter-btn {
    width: 100%;
    justify-content: start;
    font-size: 12px;
    color: #444;
    text-align: right;
    span {
        font-size: 24px;
    }
}

.products-list {
    width: 100%;
    .products-list__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .products-list__nav {
        display: flex;
        align-items: center;
        font-size: 12px;
        flex-wrap: nowrap;
    }

    .products-list__title {
        width: 54%;
        font-size: 20px;
        font-weight: bold;
        color: #444;
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;
    }

    .product-list__nav-title {
        white-space: nowrap;
        margin-left: 30px;
        span {
            font-size: 24px;
            vertical-align: -8px;
        }
    }

    .products-list__nav-link {
        color: #444;
        border-radius: $border-radious;
        padding: 6px 10px;
        white-space: nowrap;

        &.products-list__nav-link--active {
            background-color: $pink-opac;
            color: #25ced1;
        }
    }

    .product-card {
        margin-bottom: 15px;
    }

    .products-list__body {
        margin-top: 15px;
    }

    .products-list__collapse {
        .custom-collapse__title {
            text-align: right !important;
        }

        .custom-collapse__content {
            text-align: justify !important;
            font-size: 14px;
            font-weight: 400;
            color: #818181;
            line-height: 34px;
        }

        .custom-collapse__card-body {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }

        .custom-collapse__collapse {
            height: 155px;

            &.show {
                height: auto;

                & ~ .custom-collapse__link-wrapper {
                    .custom-collapse__close {
                        display: none !important;
                    }
                    .custom-collapse__open {
                        display: block !important;
                    }
                }
            }
        }

        .custom-collapse__link-wrapper {
            margin-top: -15px;
            position: relative;
            background: rgba(255, 255, 255, 0.6);
            padding: 15px 0;
        }

        .custom-collapse__toggler {
            display: block;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            color: #25ced1;
            text-decoration: none;
        }
    }
}

.mobile-brands {
    margin-bottom: 5px;
    .mobile-brands__wrapper {
        margin-left: -12px;
        overflow-x: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .mobile-brands__inner {
        display: flex;
        flex-wrap: nowrap;
        width: fit-content;
        padding-right: 5px;
    }
    .mobile-brands__title {
        font-size: 14px;
        font-weight: bold;
        color: #444;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .mobile-brands__item {
        width: 70px;
        height: 70px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 15px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }
}

.custom-modal {
    // @keyframes fadeInBottom {
    //     from {
    //         opacity: 0;
    //         // transform: translate3d(0, 630px, 0);
    //         bottom: -100%;
    //     }
    
    //     to {
    //         opacity: 1;
    //         // transform: translate3d(0, 208px, 0);
    //         bottom: -24%;
    //     }
    // }
    .custom-modal__modal-content {
        padding-right: 20px;
        padding-left: 20px;
    }
}

.mobile-filters-form {
    .custom-switch {
        margin-bottom: 15px !important;

        .custom-switch__form-check-input {
            width: 40px;
            height: 20px;
            margin: 0;
            &:checked {
                background-color: #ff6634;
            }
        }
    }

    .mobile-filters-form__range {
        margin-top: 20px;
        margin-bottom: 20px;
        .noUi-base {
            width: 99% !important;
        }

        .noUi-connect {
            background-color: #ff6634;
        }

        .noUi-handle {
            background-color: #ff6634;
        }
    }

    .mobile-filters-form__accordion {
        .custom-accordion__item {
            border: 0 !important;
        }
        .custom-accordion__button {
            &::after {
                transform: rotate(0deg);
            }
        }

        .custom-accordion__button.collapsed {
            &::after {
                transform: rotate(90deg);
            }
        }
    }

    .select-item-form__form-check-input {
        &:checked {
            background-color: #ff6634;

        }
    }

    .mobile-filters-form__btn {
        width: 100%;
        height: 42px;
        font-size: 18px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);
    }
}

@media only screen and (max-width: 1300px) {
    .aside-section {
        width: 210px;
    }
}

@media only screen and (max-width: 1199px) {
    .aside-section {
        width: 350px;
    }
}

@media only screen and (max-width: 1116px) {
    .aside-section {
        width: 230px;
    }
}

@media only screen and (max-width: 991px) {
    .products-list__nav {
        flex-wrap: wrap !important;
    }
    .aside-section {
        width: 350px;
    }
}

@media only screen and (max-width: 895px) {
    .aside-section {
        width: 300px;
    }
}

@media only screen and (max-width: 840px) {
    .aside-section {
        width: 230px;
    }
}

@media only screen and (max-width: 768px) {
    .main-inner {
        margin-bottom: 30px;
    }
    .products-list__collapse {
        margin-top: 15px;
        border: 1px solid #eee !important;
        border-radius: $border-radious !important;
        padding: 20px 10px 0 !important;
        .custom-collapse__title {
            font-size: 14px !important;
            font-weight: bold !important;
            color: #444 !important;
            margin-bottom: 0 !important;
        }

        .custom-collapse__content {
            text-align: right !important;
            font-size: 12px !important;

            color: #444 !important;
            line-height: 22px !important;
        }

        // .custom-collapse__collapse {
        //     height: 155px;

        //     &.show {
        //         height: auto;

        //         & ~ .custom-collapse__link-wrapper {
        //             .custom-collapse__close {
        //                 display: none !important;
        //             }
        //             .custom-collapse__open {
        //                 display: block !important;
        //             }
        //         }
        //     }
        // }

        .custom-collapse__toggler {
            text-align: center;
            font-size: 14px !important;
            color: #ff6634 !important;
        }
    }
}

@media only screen and (max-width: 767px) and (min-width: 640px) {
    .products-list {
        .product-card {
            flex-direction: row !important;
            width: auto;
            height: auto;
            .product-card__img {
                width: 120px;
                height: 120px;
            }

            .product-card__title {
                font-size: 13px;
            }

            .product-card__original-price {
                margin: 0;
                .product-card__money-figure {
                    font-size: 16px;
                }
            }

            .product-card__monetary-unit {
                font-size: 12px;
            }

            .product-card__price--off {
                .product-card__original-price {
                    .product-card__money-figure {
                        font-size: 16px;
                    }
                }
                .product-card__off-price {
                    .product-card__money-figure {
                        font-size: 16px;
                    }
                }

                .product-card__monetary-unit {
                    font-size: 12px;
                }
            }

            .product-card__badge {
                width: 30px;
                height: 16px;
                line-height: 19px;
                font-size: 12px;
            }

            .product-card__icon {
                font-size: 16px;
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    .products-list {
        .product-card {
            flex-direction: row !important;
            width: auto;
            height: auto;
            .product-card__img {
                width: 120px;
                height: 120px;
            }

            .product-card__title {
                font-size: 13px;
            }

            .product-card__original-price {
                margin: 0;
                .product-card__money-figure {
                    font-size: 16px;
                }
            }

            .product-card__monetary-unit {
                font-size: 12px;
            }

            .product-card__price--off {
                .product-card__original-price {
                    .product-card__money-figure {
                        font-size: 16px;
                    }
                }
                .product-card__off-price {
                    .product-card__money-figure {
                        font-size: 16px;
                    }
                }

                .product-card__monetary-unit {
                    font-size: 12px;
                }
            }

            .product-card__badge {
                width: 30px;
                height: 16px;
                line-height: 19px;
                font-size: 12px;
            }

            .product-card__icon {
                font-size: 16px;
            }
        }
    }
}
