@import "~bootstrap/dist/css/bootstrap.rtl.css";
@import "./../fonts/iran-yekan/css/fontiran.css";
@import "./font-styles/icon-fonts.css";

.custom-container {
    width: 100%;
    max-width: 1310px;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}

body {
	font-family: iranyekan  !important;
}

@media only screen and (min-width: 1140px) {
    .custom-col-5 {
        width: 39.3% !important;
    }
    
    .custom-col-7 {
        width: 59.9% !important;
    }
}

@import "abstracts/variables";
@import "abstracts/utils";

@import "vendors/include-media";
@import "vendors/reset";

@import "layout/header";
@import "layout/footer";


@import "components/buttons";
@import "components/product-card";

@import "components/assurance-card";
@import "components/custom-breadcrumb";
@import "components/custom-accordion";
@import "components/custom-collapse";
@import "components/custom-switch";
@import "components/mobile-menu";
@import "components/forms";
@import "components/menu";
@import "components/intro-section";
@import "components/custom-pagination";
@import "components/custom-modal";
@import "components/mobile-fixed-btn";

@import "pages/home.scss";
@import "pages/archive.scss";
@import "pages/single-page.scss";
@import "pages/cart.scss";
@import "pages/shipping.scss";
@import "pages/profile.scss";
@import "pages/profile-edit.scss";
